/*Global*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 90%;
    margin: auto;
}

/*Header*/
/*Wave Animation*/
.main-visual {
    height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.logo {
    flex: 1;
}
.logo h1 {
    color: white;
}
nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.nav-links {
    display: flex;
    font-size: 20px;
    list-style: none;
}
.nav-link {
    color: white;
    text-decoration: none;
    margin-left: 75px;
}
.menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: none;
}
.menu .line {
    height: 4px;
    width: 30px;
    margin-top: 3px;
    border-radius: 50px;
    background-color: white;
}
/*Hero*/
.hero-static-txt {
    font-size: 40px;
    margin-top: 100px;
    color: white;
}
.hero-dynamic-txt h1 {
    position: relative;
    font-size: 40px;
    color: #F1F017;
}
.hero-dynamic-txt h1::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 2px solid white;
    background-color: white;
    top: 0;
    animation: blink 0.5s infinite ease;

}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}